*.iml
.gradle
/local.properties
.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
*.hprof
.kotlin/
**/xcuserdata/
*.xcuserstate
/shared/schemas/
shared/src/commonMain/kotlin/aveek/portfolio/mobile/marketpulse/api/AlphaVantageConfig.kt
